body {
    background-color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1 { 
    color: white;
    text-align: center;
}

.container {
    width: 94%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.quotes {
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: white;
    background-color: black;
    border: 10px solid gray;
}

.quotes p, .quotes h3 {
    font-size: 24px;
}

footer {
    color: white;
    text-align: center;
}

footer a {
    color: gray;
    text-decoration: none;
}

@media(max-width:480px) {
    .quotes p, .quotes h3{
        font-size: 16px;
    }
}